<div>
  <button mat-raised-button color="primary" class="main" (click)='onClick(0)'>Crisis Center</button>&nbsp;&nbsp;
  <button mat-raised-button color="accent" class="main" (click)='onClick(1)'>Heroes</button>&nbsp;&nbsp;
  <button mat-raised-button color="warn" class="main" (click)='onClick(2)'>Admin</button>&nbsp;&nbsp;
  <button mat-raised-button color="primary" class="main" (click)='onClick(3)'>Login</button>&nbsp;&nbsp;
  <button mat-raised-button color="warn" class="main" (click)='onClick(4)'>Contact</button>&nbsp;&nbsp;
</div>
