<div>
<button mat-raised-button color="primary"  routerLink="/tab/crisis"  class="main" (click)="onClick(0)">Crisis Center</button>&nbsp;&nbsp;
<button mat-raised-button color="accent" routerLink="/tab/hero"  class="main" (click)="onClick(1)">Heroes</button>&nbsp;&nbsp;
<button mat-raised-button color="warn" routerLink="admin"  class="main" (click)="onClick(3)">Admin</button>&nbsp;&nbsp;
<button mat-raised-button color="primary" routerLink="auth"  class="main" (click)="onClick(2)">Authentication</button>&nbsp;&nbsp;
<button mat-raised-button color="warn" routerLink="contact"  class="main" (click)="onClick(4)">Contact</button>&nbsp;&nbsp;
</div>
